@charset "utf-8";
/* Eghbaldar.com */
body, div, p, h1, h2, h3, h4, ul, li, table{
margin:0;
padding:0;
border:none;
}
body{
padding:0px;
background-color:#232323;
direction:rtl;
}
#body{
margin: 5px auto 0px auto;
width:990px;
}
#topHeader{
width:990px;
height:100%;
float:right;
}
#date{
float:right;
width:100px;
margin-top:10px;
}
#detailLogo{
float:right;
width:597px;
margin-top:13px;
}
#emrozLogo
{
float:right;
width:145px;
}
#flash{
background-color:#fff;
width:990px;
height:140px;
float:right;
}
#Master{
width:990px;
height:100%;
float:right;
}
#footer
{
text-align:center;
background-color:#dddddd;
border-top:4px solid #ff5a00;
width:990px;
height:120px;
float:right;
}
#Master_Right{

height:100%;
width:169px;
float:right;
}
#Master_Left{

height:100%;
width:821px;
float:right;
}
#MasterLeft_Top
{
	height:20px;

	width:821px;
}
#MasterLeft_Down{
	height:100%;
}
.s{
background-color:#a3a3a3;
-moz-border-radius: 5px;
width:74px;
height:19px;float:right;margin-right:3px;
padding:5px;
font-family:Tahoma, Geneva, sans-serif;
font-size:11px;	
}






































